parameters:
    level: 1
    phpVersion: 70200
    tmpDir: /tmp/phpstan/TreemapVisualization/main
    paths:
        - .
    excludePaths:
        - tests/*
        - vendor/
        - github-action-tests/
    bootstrapFiles:
        - ../../bootstrap-phpstan.php
    universalObjectCratesClasses:
        - Matomo\Config
        - Matomo\View
        - Matomo\ViewDataTable\Config
    scanDirectories:
        - ../../
